
<DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
        <title>Burger App</title>
</head>

<body>
    {{{ body }}}
</body>


</html>                